---
layout: default
<!-- title: Arianna Yuan -->
<!-- use-site-title: true -->
---


        <!-- Header -->
        <header id="header" class="alt">
            <!-- <span class="logo"><img src="images/logo.svg" alt="auv-iitk" /></span> -->
            <!-- <span class="typedheader typed"></span> -->
             <!-- filled by main.js using typed.js -->
             
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>About</h2>
                        </header>
                        <p>I'm a PhD student in cognitive psychology at Stanford University. I am also doing a PhD minor in Computer Science. My primary advisor is Prof. <a href="https://stanford.edu/~jlmcc/" ><i> James McClelland</i></a>. I'm also collaborating with the <a href="https://nlp.stanford.edu/" ><i>Stanford NLP group</i></a> and Prof. <a href="https://ed.stanford.edu/faculty/brucemc" ><i>Bruce McCandliss</i></a>  in the School of Education. <br /> 

                        In the summer of 2017, I joined Microsoft Research at Cambridge as a research intern. I work closely with <a href="http://www.kushman.org/" ><i>Nate Kushman</i></a> in The Machine Intelligence and Perception (MIP) group and <a href="https://www.microsoft.com/en-us/research/people/ast/" ><i>Alex Taylor</i></a> in the Human Experience and Design (HXD) group on dialog modeling. <br /> 

                        My PhD research focuses on how children (and adults) learn mathematical language through perceptual and embodied experience. I'm also curious about the interaction between natural language comprehension and mathematical cognition. To these ends, I build dialog agents that learn mathematics through interacting with simulated physical world and human/machine teachers.</p>
                    </div>
                    <span class="image"><img src="images/vehicles/ayheadshot.jpg" /></span>
                </div>
            </section>
            <section id="subteams" class="main special">
                <header class="major">
                    <h2>Education</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <!-- <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span> -->
                        <span class="image {% cycle 'top' %}"><img src="{{ item.image }}" alt="" /></span>
                        <!-- <span class="image"><img src="images/vehicles/ay_headshot.jpg" alt="varun" /></span> -->
                        <a href={{item.link}} ><h3>{{ item.title }}</h3></a>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="third" class="main special">
                <header class="major">
                    <h2>Research Projects</h2>
                </header>
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            <section id="fourth" class="main special">
                <header class="major">
                    <h2>Publications and Presentations</h2>
                </header>
                    <!-- {% for item in site.research %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    </p>
                    <br>
                    {% endfor %} -->
                    <p align="left">
                    <span style="font-weight:bold">Arianna Yuan</span> (2017). Domain-General Learning of Neural Network Models to Solve Analogy Tasks – A Large-Scale Simulation. In Proceedings of the 39th Annual Meeting of the Cognitive Science Society.  <a href="https://mindmodeling.org/cogsci2017/papers/0683/paper0683.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span> and Michael Henry Tessler (2017). Generating Random Sequences For You: Modeling Subjective Randomness in Competitive Games. In Proceedings of the 15th Annual Meeting of the International Conference on Cognitive Modeling. <a href="http://iccm-conference.org/2017/ICCMprogram_files/paper_52.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span>, Te-Lin Wu, James L. McClelland (2016). Emergence of Euclidean geometrical intuitions in hierarchical generative models. Presented at the 38th Annual Meeting of the Cognitive Science Society, Philadelphia, PA. <a href="https://mindmodeling.org/cogsci2016/papers/0495/index.html"><i>[PDF]</i></a> <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> (2014). A Computational Investigation of the Optimal Task Difficulty in Perceptual Learning. Presented at the 44th Annual Meeting of the Society for Neuroscience, Washington, DC. <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> (2012). Affective Priming Effects of Mean Facial Expressions. Presented at the 42nd Annual Meeting of the Society for Neuroscience, New Orleans, LA. <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> and Jay, McClelland. The Representation of Negative Numbers (in prep). <br /> 

                    Sun,Y., and <span style="font-weight:bold">Arianna Yuan</span>. Applications of Emotion Models Based on HMM in Mental Health Forecast. Journal of Tianjin University (Social Sciences), 13(6): 531-536, 2011. <br /> 
                    </p>
            </section>
        </div>
