---
layout: default
<!-- title: Arianna Yuan -->
<!-- use-site-title: true -->
---
        

        <!-- Header -->
        <header id="header" class="alt">
            <!-- <span class="logo"><img src="images/logo.svg" alt="auv-iitk" /></span> -->
            <!-- <span class="typedheader typed"></span> -->
             <!-- filled by main.js using typed.js -->
             
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>About 
                                <a href="mailto:{{ site.email }}">
                                    <span class="icon fa-envelope alt" style="font-size: 0.45em;">
                                        </a>
                            </h2>

                        </header>
                        <p>I'm a PhD student in Cognitive Psychology and Computer Science at Stanford University. My primary advisor is Prof. <a href="https://stanford.edu/~jlmcc/" ><i> James McClelland</i></a>. I'm also collaborating with the <a href="https://nlp.stanford.edu/" ><i>Stanford NLP group</i></a> and Prof. <a href="https://ed.stanford.edu/faculty/brucemc" ><i>Bruce McCandliss</i></a>  in the School of Education. <br /> 
                        

                        My PhD research focuses on how people learn mathematical language through perceptual and embodied experience. To develop a computational theory of these learning processes, I use deep learning algorithms in computer vision and natural language processing to train agents that learn mathematical concepts through natural language instructions and interaction with simulated physical worlds. <br /> 

                        I have interned at Microsoft Research (Cambridge, UK) and Google AI (Mountain View). During my internship I worked on Machine Intelligence and Human-Computer Interaction. 
                        </p>
                    </div>
                    <span class="image"><img src="images/vehicles/ayheadshot.jpg" /></span>
                </div>
            </section>
            <section id="subteams" class="main special">
                <header class="major">
                    <h2>Education</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <!-- <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span> -->
                        <span class="image {% cycle 'top' %}"><img src="{{ item.image }}" alt="" /></span>
                        <!-- <span class="image"><img src="images/vehicles/ay_headshot.jpg" alt="varun" /></span> -->
                        <a href={{item.link}} ><h3>{{ item.title }}</h3></a>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <!-- When Introducing a new section, you need to add the section tag to the collections in _config.yml -->
            <section id="fourth" class="main special">
                <header class="major">
                    <h2>Publications and Presentations</h2>
                </header>
                    <!-- {% for item in site.research %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    </p>
                    <br>
                    {% endfor %} -->
                    <p align="left">
                    <span style="font-weight:bold">Arianna Yuan</span>, Jay McClelland (2019). Modeling Number Sense Acquisition in A Number Board Game by Coordinating Verbal, Visual, and Grounded Action Components. In Proceedings of the 41th Annual Meeting of the Cognitive Science Society. <a href="https://github.com/AriannaYuan/ariannayuan.github.io/raw/master/pdf/cogsci2019_final.pdf"><i>[PDF]</i></a> <br />

                    Sizhu Cheng*, <span style="font-weight:bold">Arianna Yuan</span>* (2019). Understanding the Learning Effect of Approximate Arithmetic Training: What was Actually Learned? In Proceedings of the 17th Annual Meeting of the International Conference on Cognitive Modeling. <a href="https://iccm-conference.neocities.org/2019/proceedings/papers/ICCM2019_paper_58.pdf"><i>[PDF]</i></a> <br />

                    Yuxian Meng, Xiaoya Li, Xiaofei Sun, Qinghong Han, <span style="font-weight:bold">Arianna Yuan</span>, Jiwei Li. Is Word Segmentation Necessary for Deep Learning of Chinese Representations? In Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (ACL 2019). <a href="https://github.com/AriannaYuan/ariannayuan.github.io/raw/master/pdf/Word_Segmentation.pdf"><i>[PDF]</i></a> <br />

                    Xiaoya Li, Fan Yin, Zijun Sun, Xiayu Li, <span style="font-weight:bold">Arianna Yuan</span>, Duo Chai, Mingxin Zhou, Jiwei Li. Entity- Relation Extraction as Multi-turn Question Answering. In Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (ACL 2019). <a href="https://github.com/AriannaYuan/ariannayuan.github.io/raw/master/pdf/Entity.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span>, Will Monroe, Yu Bai and Nate Kushman (2018). Understanding the Rational Speech Act Model. In Proceedings of the 40th Annual Meeting of the Cognitive Science Society.  <a href="https://github.com/AriannaYuan/ariannayuan.github.io/raw/master/pdf/cogsci2018_final.pdf"><i>[PDF]</i></a> <br />

                    Shengjia Zhao, Hongyu Ren, <span style="font-weight:bold">Arianna Yuan</span>, Jiaming Song, Noah Goodman, Stefano Ermon (2018). Bias and Generalization in Deep Generative Models: An Empirical Study. In Proceedings of the Thirty-Second Annual Conference on Neural Information Processing Systems (NIPS 2018). <a href="https://papers.nips.cc/paper/8277-bias-and-generalization-in-deep-generative-models-an-empirical-study.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span> (2017). “So what should I do next?” – Learning to Reason through Self-Talk (in prep).  <a href="https://github.com/AriannaYuan/ariannayuan.github.io/raw/master/pdf/reasoning_through_self_talk.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span> (2017). Domain-General Learning of Neural Network Models to Solve Analogy Tasks – A Large-Scale Simulation. In Proceedings of the 39th Annual Meeting of the Cognitive Science Society.  <a href="https://mindmodeling.org/cogsci2017/papers/0683/paper0683.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span> and Michael Henry Tessler (2017). Generating Random Sequences For You: Modeling Subjective Randomness in Competitive Games. In Proceedings of the 15th Annual Meeting of the International Conference on Cognitive Modeling. <a href="http://iccm-conference.org/2017/ICCMprogram_files/paper_52.pdf"><i>[PDF]</i></a> <br />

                    <span style="font-weight:bold">Arianna Yuan</span>, Te-Lin Wu, James L. McClelland (2016). Emergence of Euclidean geometrical intuitions in hierarchical generative models. Presented at the 38th Annual Meeting of the Cognitive Science Society, Philadelphia, PA. <a href="https://mindmodeling.org/cogsci2016/papers/0495/index.html"><i>[PDF]</i></a> <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> (2014). A Computational Investigation of the Optimal Task Difficulty in Perceptual Learning. Presented at the 44th Annual Meeting of the Society for Neuroscience, Washington, DC. <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> (2012). Affective Priming Effects of Mean Facial Expressions. Presented at the 42nd Annual Meeting of the Society for Neuroscience, New Orleans, LA. <br /> 

                    <span style="font-weight:bold">Arianna Yuan</span> and Jay, McClelland. The Representation of Negative Numbers (in prep). <br /> 

                    Sun, Y., and <span style="font-weight:bold">Arianna Yuan</span>. Applications of Emotion Models Based on HMM in Mental Health Forecast. Journal of Tianjin University (Social Sciences), 13(6): 531-536, 2011. <br /> 
                    </p>
            </section>

            <section id="third_wide" class="main special">
                <header class="major">
                    <h2>Research Projects</h2>
                </header>
                    {% for item in site.competition_wide %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'top', %}"><img style='height: 100%; width: 100%; object-fit: contain' src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <!-- <a href="{{ item.link }}"><i>Read more...</i></a> -->
                    </p>
                    <br>
                    {% endfor %}
            </section>


            <section id="third" class="main special">
                <!-- <header class="major">
                    <h2>Research Projects</h2>
                </header> -->
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            
        </div>
