---
layout: default
title: Arianna Yuan
use-site-title: true
---


        <!-- Header -->
        <header id="header" class="alt">
            <!-- <span class="logo"><img src="images/logo.svg" alt="auv-iitk" /></span> -->
            <!-- <span class="typedheader typed"></span> -->
             <!-- filled by main.js using typed.js -->
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>About</h2>
                        </header>
                        <p>I'm a PhD student in cognitive psychology at Stanford University. I am also doing a PhD minor in Computer Science. My primary advisor is Prof. James McClelland. I'm also collaborating with the Stanford NLP group and Prof. Bruce McCandliss in the School of Education.

                        During the summer of 2017, I join Microsoft Research at Cambridge as a research intern. I work closely with Nate Kushman in The Machine Intelligence and Perception (MIP) group and Alex Taylor in the Human Experience and Design (HXD) group on dialog modeling.

                        My PhD research focuses on how children (and adults) learn mathematics through perceptual and embodied experience. I'm also curious about the interaction between natural language comprehension and mathematical cognition. To these ends, I build dialog agents that learn mathematics through interaction with simulated physical world and human(or machine) teachers.</p>
                    </div>
                    <span class="image"><img src="images/vehicles/ayheadshot.jpg" /></span>
                </div>
            </section>
            <section id="subteams" class="main special">
                <header class="major">
                    <h2>Education</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <!-- <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span> -->
                        <span class="image {% cycle 'top' %}"><img src="{{ item.image }}" alt="" /></span>
                        <!-- <span class="image"><img src="images/vehicles/ay_headshot.jpg" alt="varun" /></span> -->
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="third" class="main special">
                <header class="major">
                    <h2>Research Projects</h2>
                </header>
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            <section id="fourth" class="main special">
                <header class="major">
                    <h2>Research Collaborations</h2>
                </header>
                    {% for item in site.research %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    </p>
                    <br>
                    {% endfor %}
            </section>
        </div>
